body {
    font-family: Arial, sans-serif;
    background-color:white
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    height: auto;
    z-index: auto;
}


h1 {
    font-size: 30px;
    margin-right: 235px;
    color: #007bff;
}

.right {
    margin-left: 410px;
}

.btn-navi {
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    background: none;
    background-color: #007bff;
    cursor: pointer;
    font-size: 20px;
    border: none;
}


.icon {
    margin: 40px;
}


.results1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 50px;
}

.results2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 50px;
    margin-bottom: 50px;
}

.result-card {
    width: calc(30% - 20px);
    /* 카드의 너비를 30%로 설정 */
    height: 300px;
    /* 카드의 높이를 300px로 설정 */
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}


.result-card h2 {
    margin-top: 10px;
    font-size: 15px;
    color: #007bff;
    text-align: center;
}

.result-card:hover {
    transform: translateY(-5px);
}

.results1 .result-card button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.results2 .result-card button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}


.result-card button:hover {
    background-color: #0056b3;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.dropdown-content {
    top: 35px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.toptrave1,
.toptrave2 {
    font-size: 25px;
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    width: 500px;
    box-sizing: border-box;
}

.text-with-underline {
    text-decoration: underline;
}

.result-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px;
    /* 여백 조정 */
    max-width: 1200px;
    /* 최대 너비 설정 */
    margin: 0 auto;
    /* 가운데 정렬 */
}
